{{ if or (.Site.Params.ajaxFormspree) (.Site.Params.ajaxBasin) }}
<section class="contact" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>Contactez-nous</h1>
      </div>

      <div class="col-xs-12">
        <p>Vous ou un proche souffrez d’une maladie en lien avec des pesticides? Vous avez des questions ou des inquiétudes concernant une exposition aux pesticides? Vous souhaitez apporter votre témoignage? <br/>
          N’hésitez pas à contacter Victimes des pesticides du Québec: <br/>
         <a href="mailto: info@victimespesticidesquebec.org">info@victimespesticidesquebec.org</a></p>
      </div>
    </div>
    
    <!-- Begin Mailchimp Signup Form -->
      <div class="col-xs-12">
        <h2>Infolettre</h2>
        <div id="mc_embed_signup">
          <form action="https://victimespesticidesquebec.us2.list-manage.com/subscribe/post?u=67c56a4224e79e980c9022db9&amp;id=6e5f62b588" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL">Inscrivez-vous à notre infolettre:</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_67c56a4224e79e980c9022db9_6e5f62b588" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>
      </div>
      <!-- End Mailchimp Signup form -->
    
    <div class="row">
      <div class="col-xs-12">
        <h2>Faire un don / Devenir membre </h2>
      </div>
      <div class="col-xs-12">
        <p><em>Victimes des pesticides du Québec</em> a besoin de votre appui!</p>
        <p>Les dons actuels serviront à constituer un fonds d'aide aux victimes des pesticides. Nous appelons notamment aux dons pour soutenir le combat de Jean-François Perichon, victime des pesticides, dans la reconnaissance de ses droits.</p>
        <p>La cotisation minimum pour devenir membre de *Victimes des pesticides du Québec* est de 25$ pour un don ponctuel et de 5$ pour un don mensuel.</p>
      </div>
    </div>

    <iframe title='Formulaire de membre et de don'
      style='width: 100%;height: 1500px;border: none;'
      src='https://www.simplyk.io/embed/donation/5e3a03d3b1ead500244f3f30/lang/fr?nonvisit=true'>
    </iframe>

  </div>
</section>
{{ end }}
