{{ if or (.Site.Params.ajaxFormspree) (.Site.Params.ajaxBasin) }}
<section class="contact" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>Contactez-nous</h1>
      </div>
      <div class="col-xs-12">
        <p>Vous avez une question ou un commentaire? N’hésitez pas, <br/>
        contactez-nous: <a href="mailto: info@victimespesticidesquebec.org">info@victimespesticidesquebec.org</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2>Devenez membre</h1>
      </div>
      <div class="col-xs-12">
        <p><em>Victimes des pesticides du Québec</em> a besoin de votre appui!</p>
        <p>Pour devenir membre, il vous suffit de remplir le formulaire ci-dessous accompagné d'un don unique de 20$.</p>
      </div>
    </div>

    <iframe title='Formulaire de membre et de don'
      style='width: 100%;height: 1700px;border: none;'
      src='https://www.simplyk.io/embed/donation/5e3a03d3b1ead500244f3f30/lang/fr?nonvisit=true'>
    </iframe>

  </div>
</section>
{{ end }}
