<style>
  main .center-xs h1 {
    text-align: left;
  }

  .about p{
    font-size: 1.25rem;  
  }

  section a {
    text-decoration: underline;
  }

  .ressources{
    width: 100%;
    background-color: #F7F7F7;
  }

  .contact {
    background-color: white;
    padding-bottom: 0;
  }

  .contact .container {
    padding-bottom: 2em;
  }

  span.site-title {
    color: white;
    font-size: 1rem;
  }

  .container {
    padding: 4rem 0;
  }

  #mc-embedded-subscribe {
    width: 25%;
  }

  #mc_embed_signup {
    padding-bottom: 1em;
  }

</style>
