<style>
  main .center-xs h1 {
    text-align: left;
  }

  figure {
    padding-bottom: 1em;
  }

  figure h4 {
    font-size: 0.7em;
  }

  blockquote {
    padding: 2px;
  }

  .about p{
    font-size: 1.25rem;  
  }

  section a {
    text-decoration: underline;
  }

  .ressources{
    width: 100%;
    background-color: #F7F7F7;
  }

  .contact {
    background-color: white;
    padding-bottom: 0;
  }

  .contact .container {
    padding-bottom: 2em;
  }

  span.site-title {
    color: white;
    font-size: 1rem;
  }

  .container {
    padding: 4rem 0;
  }

  #mc-embedded-subscribe {
    width: 25%;
  }

  #mc_embed_signup {
    padding-bottom: 1em;
  }
  
  .container.presse h1 {
    padding-top: 1em;
    line-height: 1.2;
  }

  #subscribe .col-xs-3 {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #F7F7F7;
    background-color: #4E6B6C;
    color: #fff;
    text-decoration: none;
  }
  
</style>
