{{ if or (.Site.Params.ajaxFormspree) (.Site.Params.ajaxBasin) }}
<section class="partenaires" id="partenaires">
  <div class="container">

    <div class="row">
      <div class="col-xs-3">
        <a href="https://autisme-montreal.com/" target="_blank">
          <img class="partner-logo lazyload" data-src="logo_autisme_mtl.jpg" lazyload="on" alt="Austime Montreal">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="https://acsqc.ca/fr">
          <img class="partner-logo lazyload" data-src="logo_action_cancer.jpg" lazyload="on" alt="logo">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="https://www.myeloma.ca/fr">
          <img class="partner-logo lazyload" data-src="logo_myeloma_2.jpeg" lazyload="on" alt="logo">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="https://parkinsonquebec.ca/">
          <img class="partner-logo lazyload" width=50% data-src="logo_parkinson_qc.jpg" lazyload="on" alt="logo">
        </a>
      </div>
    </div>

  </div>
</section>
{{ end }}
