<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}

    <main>
      <section class="homebanner" id="homebanner">
        <div class="container middle-xs">
          <div class="row">
            <div class="col-xs-12 middle-xs">
              <a href="https://www.victimespesticidesquebec.org/presse/tournee2022/">
                <img src="VPQ_Fb_evenement_22-02-15.jpg" alt="Tournee Pesticides">
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- About -->
      {{ partial "about.html" . }}

      <!-- Mission -->
      {{ partial "mission.html" . }}

      <!-- Actu -->
      {{ partial "ressources.html" . }}

      <!-- Gallery -->
      {{ if not (eq (len (where .Site.RegularPages "Section" "gallery")) 0) }}
        {{ partial "gallery.html" . }}
      {{ end }}

      <!-- Blog -->
      {{ if not (eq (len (where .Site.RegularPages "Section" "blog")) 0) }}
        {{ partial "blog.html" . }}
      {{ end }}

      <!-- Contact -->
      {{ partial "contact.html" . }}

      <!-- Partenaires -->
      {{ partial "partenaires.html" . }}
    </main>
    {{ partial "subscribe.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
